*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.Contact_form{
    background-image: url("fabio-oyXis2kALVg-unsplash.jpg");
    background-attachment: fixed;
}

.inputBox{
    background-color: transparent;
}

.fa-contact {
    color: #fff;
}

.Contact_form{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;

}

.Contact_form .content{
    max-width: 800px;
    text-align: center;
}

.Contact_form .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}
.Contact_form .content p{
    font-weight: 300;
    color: #fff;
}

.form-entities{
    margin: 1rem;
    opacity: 0.8;
}


/* .form-entities-label{
    color: #fff;
    margin:10px 0 20px;
} */


.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text h3{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: firebrick;
    font-weight: 500;
}
.container .contactInfo .box .text p{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(119, 53, 53);
    font-weight: 300;
}
.contactForm{
    width: 40%;
    padding: 40px;
    
}
.contactForm h2{
    font-size: 30px;
    color: rgb(170, 65, 65);
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(59, 56, 56);
    outline: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: burlywood;
    font-size: 12px;
    transform: translate(-20px); 
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: burlywood;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media screen and (max-width: 768px){
    .contactForm{
        width: 100vw;
    }
}

.contact_btn{
    padding-left:200px;
    padding-right:200px;
}