body{
    font-family: 'Ubuntu', sans-serif;
}
.login_form_para{
    padding-bottom:30px;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
nav{
    background-color:whitesmoke;
    font-size: 17px;
    font-weight: bold;
}

.navbar_align{
   margin-left: 20%;
    padding: 5px;
}


.sign-up_login_btn{
    border: 1px solid black;
    margin:5px;
    
}

.sign-up_login_btn:hover{
    background-color: rgb(196, 185, 185);
}

.carousel-caption{
    /* position:absolute;
    left: 20px;
    top: 20px; */
    font-size: 17px;
}

.login-signup{
    font-size: 15px;
    font-weight: bold;
}

.Latest_post{
    margin: 30px;
    text-align: center;
}

.card-title{
    text-align: center;
}

.recent-feed-wrap{
    font-family: 'Lato',sans-serif;
}

.home-recent{
    margin:30px;
    transition: 900ms all ease;
    box-shadow: 0 0 10px 0 rgba(0,0,100,0.2);
}

.home-recent:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1); 
    transform: scale(1.1);
}

.Latest_post_card{
    margin:50px;   
}

.latest_Post_btn{
    width:40%;
    margin: 20px;
    align-self: center;
    padding: 5px;
}

footer{
    background-image: url(contact-bg.jpg);
    background-attachment: fixed;  
    
}

.footer_Section,.Copyright_Section{
    background-color: rgba(0, 0, 0, 0.3)
}

.Copyright_Section h6{
    display: inline-block;
}

.footer_logo{
    width: 150px;
    height: 150px;
}

.text-white{
    text-decoration:none;
}
